@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {font-family: 'NanumSquareRound', serif;}
html {margin: 0;padding: 0;overflow: hidden;}
body {margin: 0;padding: 0;-ms-overflow-style: none;opacity: 0;transition: opacity .65s .15s;}
body.reveal {
    opacity: 1;
    overflow-y: auto
}

body.hidden {
    opacity: 0
}
::-webkit-scrollbar { display: none; }

/* 헤더 - 로고 */
header {position: fixed;width:100%;text-align: center;padding-top: 30px;z-index: 9999;}
header > img {width: 50px;}
header > #menu-btn {text-align: right;margin-right: 25px;}
header > #menu-btn:hover {opacity: 0.7;transition: 0.4s;}
header > #menu-btn:not(:hover) {transition: 0.4s;}
header > #menu-btn img {width: 34px;}

/* about JWFOLIO */
#menu-wrap {position:absolute; background-color: rgba(255, 255, 255, 0.76);width: 100%;height:100%;z-index: 9999;display:none;transition: 0.4s;}
.menu-title {position:absolute;top:50%;margin-top:-270px;margin-left: 100px;}
.menu-title > img {width: 70px;margin: 30px 0;}
.menu-title > p {margin: 0;}
.menu-title > p:nth-child(2) {font-weight: 800;font-size: 80px;}
.menu-title > p:nth-child(3) {font-weight: 800;font-size: 50px;margin: 40px 0;}
.menu-title > p:last-child {font-family: 'Noto Sans', sans-serif;font-weight: 600;font-size: 20px;line-height: 34px;}
.menu-footer {position: absolute;bottom: 0;width: 100%;margin-left: 40px;margin-bottom:10px;font-size: 14px;}
.menu-footer > p {display: inline-block;margin-right: 15px;}
.menu-footer > p:last-child {position:absolute;right: 0;margin-right: 80px;}
#menu-btn2 {position: absolute;top: 0;right: 0;margin-top: 30px;margin-right: 20px;}
#menu-btn2:hover {opacity: 0.7;cursor: grab;transition: 0.4s;}
#menu-btn2:not(:hover) {transition: 0.4s;}
#menu-btn2 > img {width: 30px;}

/* div */
.slide {height: 100%;}
#slide-scroll {text-align:center;height: 60%;overflow: scroll; -ms-overflow-style: none;margin-top: 33px;}
#slide-scroll::-webkit-scrollbar{
    display: none;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: #ec008c;
}
.slide-content-txt {text-align: center;}
.slide-content-txt > p {margin: 0;}
.slide-content-txt > p:first-child {color: #fff200;font-weight: 600;font-size: 22px;margin-top:50px;margin-bottom: 34px;}
.slide-content-txt > p:nth-child(2) {color: #FFF;font-weight: 800;font-size: 70px;line-height: 66px;}
.slide-content-txt > p:nth-child(2) > span {font-size: 34px;}
.slide-content-txt > p:last-child {color: #ffc6e8;font-family: 'Noto Sans', sans-serif;font-weight: 400;font-size: 18px;padding-top: 56px;line-height: 36px;}

.video {width: 680px;height: 380px;margin: 0 auto;padding: 27px;background-color: #c00073;border-radius: 15px 15px 15px 15px;}

.slide img {height: 100%;}
#scroll-btn {position: absolute;bottom: 0;left: 82.7%;margin-bottom: 70px;}
#scroll-btn img {width: 60px;}

/* 푸터 */
footer {position:absolute;bottom:0;width:100%;text-align: center;padding-bottom: 15px;}
footer > p {font-family: 'Noto Sans', sans-serif;font-weight: 600;font-size: 11px;color: #FFF;cursor: grab;}
footer > p:hover {opacity: 0.7;transition: 0.3s;}
footer > p:not(:hover) {transition: 0.3s;}


